/*******************************************************************************
 ** Color Defines                                                            |||
 ******************************************************************************/

:root {
    --css-black:            #1d2021;
    --css-grey:             #a89984;
    --css-bg:               #323232;
    --css-white:            #eeeeee;

    --css-red:              #cc241d;
    --css-green:            #98971a;
    --css-yellow:           #d79921;
    --css-blue:             #458588;
    --css-purple:           #b16286;
    --css-aqua:             #689d6a;
    --css-orange:           #d65d0e;

    --css-lite-red:         #fb4934;
    --css-lite-green:       #b8bb26;
    --css-lite-yellow:      #fabd2f;
    --css-lite-blue:        #83a598;
    --css-lite-purple:      #d3869b;
    --css-lite-aqua:        #8ec07c;
    --css-lite-orange:      #fe8019;

    --css-dark-red:         #9d0006;
    --css-dark-green:       #79749e;
    --css-dark-yellow:      #b57614;
    --css-dark-blue:        #076678;
    --css-dark-purple:      #8f3f71;
    --css-dark-aqua:        #427b58;
    --css-dark-orange:      #af3a03;
}

/*******************************************************************************
 ** Mobile Differences Defines                                               |||
 ******************************************************************************/

:root {
    --css-ugly-color:       #ff00ff;
    --css-full-height:      100vh;
    --css-input-height:     100vh;
    --css-flex-direction:   row;
}

@media (max-width: 768px) {
  :root {
    --css-ugly-color:       var(--css-black);
    --css-full-height:      calc(100vh - 74px);
    --css-input-height:     10ch;
    --css-flex-direction:   column;
  }
}

/*******************************************************************************
 ** Element Styles                                                           |||
 *******************************************************************************
 *  Sets most things to have the same style.  I'm not sure why the CSS default
 *  values confuse me so much, but they never act how I expect and usually I
 *  spend more time googling and fiddling than I'd like.
 *
 */

* {
    display:                inherit;
    align-items:            stretch;

    flex-basis:             inherit;
    flex-direction:         inherit;
    flex-flow:              inherit;
    flex-grow:              inherit;
    flex-shrink:            inherit;
    flex-wrap:              inherit;
    order:                  inherit;

    align-content:          inherit;
    align-items:            inherit;
    align-self:             inherit;

    justify-content:        inherit;

    margin:                 0ch 0ch 0ch 0ch;
    padding:                0ch 0ch 0ch 0ch;

    border-width:           0ch;
    border-style:           none;
    border-color:           var(--css-ugly-color);

    font-family:            monospace, monospace;
    font-size:              100%;

    text-align              justify;

    background-color:       var(--css-ugly-color);
    color:                  var(--css-ugly-color);

    pointer-events:         auto;

    white-space:            nowrap;
}

head, title, style, script {
    display:                none;
}

pre {
    display:                block;
    white-space:            pre;
    color:                  inherit;
    background-color:       inherit;
}

/*******************************************************************************
 ** CSS classes                                                              |||
 ******************************************************************************/

/* color classes */

.bg     { background-color: var(--css-bg);          color: var(--css-white); }
.in     { background-color: var(--css-lite-red);    color: var(--css-white); }
.out    { background-color: var(--css-lite-orange); color: var(--css-white); }
.log    { background-color: var(--css-lite-yellow); color: var(--css-white); }
.info   { background-color: var(--css-lite-green);  color: var(--css-white); }
.share  { background-color: var(--css-lite-blue);   color: var(--css-white); }

.bg_r   { background-color: var(--css-white); color: var(--css-bg);          }
.in_r   { background-color: var(--css-bg);    color: var(--css-lite-red);    }
.out_r  { background-color: var(--css-bg);    color: var(--css-lite-orange); }
.log_r  { background-color: var(--css-bg);    color: var(--css-lite-yellow); }
.info_r { background-color: var(--css-bg);    color: var(--css-lite-green);  }
.share_r{ background-color: var(--css-bg);    color: var(--css-lite-blue);   }

/* visibility classes */

.background { color: var(--css-white); background-color: var(--css-black); }
.floating   { color: transparent;      background-color: transparent; pointer-events: none; }
.hidden     { display: none; }

/* ui objects */

.layer {
    display:                flex;
    flex-direction:         var(--css-flex-direction);
    position:               fixed;

    top:                    0ch;
    left:                   0ch;

    width:                  100vw;
    height:                 var(--css-full-height);
}

.label {
    display:                block;
    white-space:            pre;
}

.button {
    display:                block;
    white-space:            pre;
}

.textarea {
    display:                block;
    white-space:            pre-wrap;
    overflow:               scroll;
    resize:                 none;
    scrollbar-width:        none;
}

.fancytext {
    display:                block;
    position:               absolute;

    top:                    0px;
    left:                   0px;

    width:                  100%;
    height:                 100%;

    overflow:               scroll;
    scrollbar-width:        none;

    white-space:            pre-wrap;
}
.fancytext::-webkit-scrollbar,
.fancytext::-webkit-scrollbar-thumb {
    display:                none;
}
.fancytext div {
    display:                block-inline;
    color:                  inherit;
    background-color:       inherit;
}

/*******************************************************************************
 ** Borders                                                                  |||
 ******************************************************************************/

.border                   { margin:  0.0ch 0.0ch 0.0ch 0.0ch; } /* bg start   */
.border .border           { margin:  0.9ch 0.4ch 0.9ch 0.4ch; } /* color start*/
.border .border .border   { margin:  0.2ch 0.2ch 0.2ch 0.2ch; } /* bg start   */
.border .border .border * { margin:  0.9ch 0.4ch 0.9ch 0.4ch; } /* bg end     */

.border .border .border   {
    position:               relative;
}
.border .border .border .label {
    position:               absolute;
    top:                    -2ch;
    left:                   1ch;
}

/*******************************************************************************
 ** Specific Element Styles                                                  |||
 ******************************************************************************/

/* layers */

#io_layer {
    flex-grow:              1;
}

#info_layer, #log_layer {
    flex-grow:              1;
}

#controls_layer {
    flex-direction:         row;
    flex-grow:              0;
    align-items:            flex-end;
    justify-content:        flex-end;
}

/* borders */

#input_border {
    margin:                 2ch 0ch 2ch 1ch;
    max-height:             var(--css-input-height);
}

#output_border {
    margin:                 2ch 1ch 2ch 1ch;
}

#log_border {
    flex-grow:              1;
    margin:                 4ch 2ch 4ch 2ch;
}

#info_border {
    flex-grow:              1;
    margin:                 6ch 3ch 6ch 3ch;
}

#share_border {
    flex-grow:              1;
    margin:                 8ch 4ch 8ch 4ch;
}

#log_button, #info_button {
    margin:                 0ch 1ch 0ch 0ch;
}


/*
 * smaller devices stack the two text fields on
 * top of each other instead of side by side
 */
@media (max-width: 768px) {
  #input_border   {
    margin-right:           1ch;
    margin-bottom:          0ch;
  }
}

