/*
 * Sets everythings style to be the same.  I'm not sure why the CSS default
 * values confuse me so much, but they never act how I expect and usually I
 * spend more time googling and fiddling than I'd like.
 */

* {
    display:                flex;
    align-items:            stretch;
    flex-grow:              inherit;
    justify-content:        inherit;
    flex-direction:         inherit;

    margin:                 0ch;
    border:                 none;
    border-width:           0ch;
    padding:                0ch;

    font-family:            monospace, monospace;
    font-size:              12pt;
    text-align              justify;

    background-color:       red;
    color:                  red;

    pointer-events:         auto;
}

pre {
    white-space:            pre-wrap;
}

head, title, style, script {
    display:                none;
}

p {
    display:                block;
}

.layer {
    position:               fixed;
    top:                    0ch;
    left:                   0ch;
    height:                 100vh;
    width:                  100vw;
}

.button {
    margin:                 2ch 1ch 6ch 1ch;
    padding:                0ch 1ch 0ch 1ch;
}

.textarea {
    margin:                 2ch 1ch 2ch 1ch;
    padding:                0ch 0ch 0ch 0ch;
    overflow:               scroll;
}

.htmlarea {
    display:                initial;
    overflow:               scroll;
}

/*
 * smaller borders on smaller displays
 */

@media (max-device-width: 768px) {
    .layer {
        height:             88vh;
    }

    .bordered {
        border-width:       0.2ch;
    }
    .button {
        padding:            0.2ch;
        margin:             0.2ch;
    }

    .textarea {
        margin:             0.2ch;
        padding:            0.2ch;
    }
}

/* visibility / layer styles */

.hidden {
    display:                none;
}

.floating {
    background-color:       transparent;
    color:                  transparent;

    /*
     * allows clicking through transparent
     * elements
     */
    pointer-events:         none;
}

.background {
    height:                 100vh;
    width:                  100vw;
    background-color:       black;
    color:                  white;
}

/* color styles */

.info  { color: white; background-color: blue; }
.error { color: white; background-color: red; }
.warn  { color: white; background-color: yellow; }
.run   { color: white; background-color: green; }
.in    { color: white; background-color: #6b5b95; }
.out   { color: white; background-color: #d64161; }

.inborder {
    padding: 1ch 1ch 1ch 1ch;
    box-shadow:
        inset 0 0 0 0.40ch #6b5b95,
        inset 0 0 0 0.60ch white,
        inset 0 0 0 1.00ch #6b5b95;
}

.outborder {
    padding: 1ch 1ch 1ch 1ch;
    box-shadow:
        inset 0 0 0 0.40ch #d64161,
        inset 0 0 0 0.60ch white,
        inset 0 0 0 1.00ch #d64161;
}

.infoborder {
    padding: 1ch 1ch 1ch 1ch;
    box-shadow:
        inset 0 0 0 0.40ch blue,
        inset 0 0 0 0.60ch white,
        inset 0 0 0 1.00ch blue;
}

/* size / alignment modifiers */

#io_layer {
    flex-direction:         row;
    flex-grow:              1;
}

#controls_layer {
    align-items:            flex-end;
    justify-content:        flex-end;
}

#info_layer {
    align-items:            center;
    justify-content:        center;
}

#info_area {
    align-items:            flex-start;
    justify-content:        flex-start;
    width:                  82vw;
    height:                 82vh;
}

/*
 * smaller devices stack the two text fields on
 * top of each other instead of side by side
 */

@media (max-device-width: 768px) {
    #io_layer {
        flex-direction:     column;
    }
    #input_area {
        max-height:         13ch;
    }
}

